.catcontainer {
  width: 95%;
  height: 37vw;
  position: relative;
  margin: auto;
  margin-top: 2%;
}
.catcontainer:hover .slick-next {
  transition: 1s;
}
.catcontainer:hover .slick-prev {
  transition: 1s;
}
.catcontainer::after {
  height: max-content;
}
.containersize {
  height: 100%;
}
.catphotos {
  width: 100%;
  height: 35vw;
  position: relative;
  text-align: center;
}
.catphotos:hover h1 {
  display: block;
  transition: 0.3s;
  visibility: visible;
}
.catphotos h1 {
  position: relative;
  z-index: 10px;
  color: white;
  width: 100%;
  height: 50px;
  top: -50%;
  font-size: 20px;
  display: block;
  visibility: hidden;
  font-family: "Buenard", serif;
  pointer-events: none;
}

.catphotos img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: relative;
  object-position: 25% 25%;
}
.girlpic {
  height: 100%;
  width: 100%;
  object-position: 100% 80%;
  transition: 0.3s;
}
.girlpic:hover {
  filter: brightness(50%);
  transition: 0.5s;
}

.bagpic {
  transition: 0.3s;
  height: 100%;
  width: 100%;
  object-position: 100% 80%;
}
.bagpic:hover {
  filter: brightness(50%);
  transition: 0.5s;
}
.guypic {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  object-position: 100% 30%;
}
.guypic:hover {
  filter: brightness(50%);
  transition: 0.5s;
}
.eeeborders {
  position: relative;
  background-color: #222121;
  padding: 10px;
  width: 95%;
  height: 100%;
  margin-left: 2%;
}
.bordersborder1 {
  position: relative;
  width: 100%;
  height: 100%;

  margin-top: 2%;
  margin-bottom: 3%;
}
.shopnowstyle {
  color: white;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(41, 41, 41);
  font-size: 4vh;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) and (max-height: 800px) {
  .slick-next {
    background-size: 30px 30px !important;
    width: 5% !important;
    height: 10% !important;
    margin-right: -10px !important;
  }

  .slick-prev {
    background-size: 30px 30px !important;
    width: 5% !important;
    height: 10% !important;
    margin-left: -10px !important;
  }
}
@media only screen and (max-width: 830px) {
  .slick-next {
    background-size: 30px 30px !important;
    width: 5% !important;
    height: 10% !important;
    margin-right: -5px !important;
  }

  .slick-prev {
    background-size: 30px 30px !important;
    width: 5% !important;
    height: 10% !important;
    margin-left: -5px !important;
  }
}
@media only screen and (max-width: 450px) {
  .slick-next {
    background-size: 20px 20px !important;
    width: 3% !important;
    height: 10% !important;
    margin-right: 10px !important;
  }
  .shopnowstyle {
    font-size: 3vh;
  }
  .slick-prev {
    background-size: 20px 20px !important;
    width: 3% !important;
    height: 10% !important;
    margin-left: 10px !important;
  }
}
@media only screen and (max-width: 390px) {
  .shopnowstyle {
    font-size: 2vh;
  }
}
