.cartsidebar {
  z-index: 40;
  width: 30%;
  height: 100%;
  float: right;
  text-align: left;
  display: inline-block;
  position: relative;
  background-color: #1b1b1b;
  animation: 1s slidenavcart;
  right: 0;
}
@keyframes slidenavcart {
  0% {
    right: -30vw;
  }
  100% {
    right: 0;
  }
}

.contentdivcart {
  margin-top: 0;
}
#usernamedivcart {
  width: 100%;
  height: 6vw;
  top: 0;
  position: relative;
  text-align: center;
}
#usernamedivcart h1 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 250;
  font-optical-sizing: auto;
  position: relative;
  font-size: 3vh;
  display: inline-block;
  margin-top: 5%;
  margin-right: 5px;
}
#usernamedivcart svg {
  position: relative;
  display: inline-block;
  height: 4vh;
  width: 4vh;
  margin-right: 10px;
  top: -4px;
}
.shopchartline {
  position: relative;
  width: 90%;
  height: 0.12vw;
  background-color: #4c4c4c;
  margin-top: 10px;
  margin-left: 5%;
}

.navbarcontentendcartProducts {
  width: 100%;
  height: 9vw;
  text-align: right;
  background-color: #282727;
  position: absolute;
  bottom: 0;
}
.buttondivs {
  width: 100%;
  position: relative;
  margin-top: 2%;
}
#ContiuneshoppingButton {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #bebebe;
  background-color: #353535;
  border-radius: 12px;
  box-shadow: #1b1b1b 2px 2px 4px;
  width: 13vw;
}
#ContiuneshoppingButton:hover {
  color: #bebebe;
  background-color: #464646;
}
#CheckoutButton {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #9c9c9c;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: #0e0e0e 2px 2px 4px;
  width: 13vw;
  margin-left: 3%;
  margin-right: 3%;
}
.grandtotalline {
  width: 100%;
  height: 1.2px;
  margin-top: -5px;
  background-color: #4c4c4c;
}
#grandtotalplacement {
  position: absolute;
  left: 0;
}
.totaltextstyle {
  color: #ffff;
  font-family: "Jost", sans-serif;
  font-size: 1.1vw;
  font-weight: 200;
  position: relative;
  display: inline-block;
  padding: 10px;
}
.grandtotaldiv {
  position: relative;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}
.cartendbuttonstyle {
  color: #908f8f;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "DM Sans", sans-serif;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.productstextdiv {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  top: -22%;
}
.productimagediv {
  width: 9vw;
  height: 9vw;
  border: 2px solid white;
  position: relative;
  display: inline-block;
  margin-left: 1.5vw;
}
.productimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productnametext {
  color: white;
  font-family: "Forum", serif;
  font-size: 2vw;
}
.productpricetext {
  font-family: "Gowun Dodum", sans-serif;
  color: rgb(178, 178, 178);
  font-size: 1.2vw;
}
.quantitydiv {
  background-color: #2b2b2b;
  padding: 2px;
  width: 4.5vw;
  border-radius: 10px;
  text-align: center;
}
.quantitydiv h1 {
  position: relative;
  font-family: "Donegal One", serif;
  padding: 2px;

  display: inline-block;
  color: white;
}
.closingicondiv {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 50%;
  text-align: center;
  right: -10px;
  top: -4vw;
}

.productfulldiv {
  position: relative;
  width: 100%;
  height: 12vw;
}
#minusquantity {
  position: relative;
  display: inline-block;
  color: white;
  margin-right: 10px;
}
#addquantity {
  position: relative;
  display: inline-block;
  color: white;
  margin-left: 10px;
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) and (max-height: 800px) {
  .cartsidebar {
    width: 35%;
    animation: 1s slidenavcart;
  }
  @keyframes slidenavcart {
    0% {
      width: 20%;
      height: 100%;
    }
    100% {
      width: 35%;
      height: 100%;
    }
  }
  .halfscreencart {
    background-color: rgba(0, 0, 0, 0.5);
    width: 65%;
    height: 100%;
    display: inline-block;
    position: relative;
    animation: halfslidecart 1s;
  }
  @keyframes halfslidecart {
    0% {
      width: 80%;
      height: 100%;
    }
    100% {
      width: 65%;
      height: 100%;
    }
  }
  .navbarcontentendcartProducts {
    height: 12vw;
  }
  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 1.2vw;
  }
  .productfulldiv {
    margin-top: 10px;
  }

  .productstextdiv {
    width: 40%;
    top: -12%;
  }

  .productnametext {
    font-size: 2vw;
  }
  .productpricetext {
    font-size: 1.2vw;
  }
  .quantitydiv {
    margin-top: 3px;
    width: 6.5vw;
  }
  .quantitydiv h1 {
    font-size: 1.2vw;
  }
  #ContiuneshoppingButton {
    font-size: 1.4vw;
    width: 15vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 15vw;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 900px) {
}
@media only screen and (max-width: 830px) {
  .cartsidebar {
    width: 40%;
    animation: 1s slidenavcart;
  }
  .productimagediv {
    width: 12vw;
    height: 12vw;
  }
  @keyframes slidenavcart {
    0% {
      width: 20%;
      height: 100%;
    }
    100% {
      width: 40%;
      height: 100%;
    }
  }
  .halfscreencart {
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%;
    height: 100%;
    display: inline-block;
    position: relative;
    animation: halfslidecart 1s;
  }
  @keyframes halfslidecart {
    0% {
      width: 80%;
      height: 100%;
    }
    100% {
      width: 60%;
      height: 100%;
    }
  }
  .navbarcontentendcartProducts {
    height: 15vw;
  }
  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 1.6vw;
  }
  .productfulldiv {
    margin-top: 20px;
  }

  .productstextdiv {
    width: 40%;
    top: -12%;
  }

  .productnametext {
    font-size: 2.5vw;
  }
  .productpricetext {
    font-size: 1.5vw;
  }
  .quantitydiv {
    padding: 1.5px;

    margin-top: 3px;
    width: 8vw;
  }
  .quantitydiv h1 {
    font-size: 1.5vw;
  }
  #ContiuneshoppingButton {
    font-size: 1.5vw;
    width: 17vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 17vw;
    font-size: 1.5vw;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
  }
}
@media only screen and (max-width: 1350px) and (min-width: 1200) {
}
@media only screen and (max-width: 650px) {
}
@media only screen and (max-width: 450px) {
  .cartsidebar {
    width: 70%;
    animation: 1s slidenavcart;
  }
  .productimagediv {
    width: 21vw;
    height: 21vw;
  }
  @keyframes slidenavcart {
    0% {
      width: 20%;
      height: 100%;
    }
    100% {
      width: 70%;
      height: 100%;
    }
  }
  .halfscreencart {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    height: 100%;
    display: inline-block;
    position: relative;
    animation: halfslidecart 1s;
  }
  @keyframes halfslidecart {
    0% {
      width: 80%;
      height: 100%;
    }
    100% {
      width: 30%;
      height: 100%;
    }
  }
  .navbarcontentendcartProducts {
    height: 30vw;
  }
  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 2.6vw;
  }
  .productfulldiv {
    margin-top: 25px;
    height: 18vw;
  }

  .productstextdiv {
    width: 40%;
    top: -12%;
  }

  .productnametext {
    font-size: 4.5vw;
  }
  .productpricetext {
    font-size: 2.5vw;
  }
  .quantitydiv {
    padding: 1.5px;

    margin-top: 3px;
    width: 14vw;
  }
  .quantitydiv h1 {
    font-size: 2.5vw;
  }
  #ContiuneshoppingButton {
    font-size: 2.8vw;
    width: 32vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 30vw;
    font-size: 2.8vw;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
  }
  #usernamedivcart {
    width: 100%;
    height: 10vw;
  }
}
@media only screen and (max-width: 390px) {
  #ContiuneshoppingButton {
    font-size: 2.7vw;
    width: 32vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 30vw;
    font-size: 2.7vw;
  }
  .cartsidebar {
    width: 70%;
    animation: 1s slidenavcart;
  }
  @keyframes slidenavcart {
    0% {
      width: 40%;
      height: 100%;
    }
    100% {
      width: 70%;
      height: 100%;
    }
  }
  .halfscreencart {
    animation: halfslidecart 1s;
  }
  @keyframes halfslidecart {
    0% {
      width: 60%;
      height: 100%;
    }
    100% {
      width: 30%;
      height: 100%;
    }
  }
  .navbarcontentendcart {
    animation: 4s fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    97% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .navbarcontentendcartProducts {
    animation: 5s fadeIn;
  }
}
@media only screen and (max-width: 350px) {
  .productimagediv {
    width: 25vw;
    height: 25vw;
  }
  .cartsidebar {
    width: 80%;
    animation: 1s slidenavcart;
  }
  .halfscreencart {
    background-color: rgba(0, 0, 0, 0.5);
    width: 20%;
    height: 100%;
    display: inline-block;
    position: relative;
    animation: halfslidecart 1s;
  }
  #ContiuneshoppingButton {
    font-size: 2.9vw;
    width: 35vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 35vw;
    font-size: 2.9vw;
  }

  .quantitydiv {
    margin-top: 3px;
    width: 18vw;
  }
  @keyframes slidenavcart {
    0% {
      width: 40%;
      height: 100%;
    }
    100% {
      width: 80%;
      height: 100%;
    }
  }
  .halfscreencart {
    animation: halfslidecart 1s;
  }
  @keyframes halfslidecart {
    0% {
      width: 60%;
      height: 100%;
    }
    100% {
      width: 20%;
      height: 100%;
    }
  }
  .navbarcontentendcart {
    animation: 4s fadeIn;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    97% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .navbarcontentendcartProducts {
    animation: 5s fadeIn;
  }
  .closingicondiv svg {
    width: 100%;
    height: 100%;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
  }
  #minusquantity {
    height: 6vw;
  }
  #addquantity {
    height: 6vw;
  }
  .quantitydiv h1 {
    padding: 1px;
    font-size: 4vw;
  }
  .productnametext {
    font-size: 5.6vw;
  }
  .productpricetext {
    font-size: 3.5vw;
  }
  #usernamedivcart {
    width: 100%;
    height: 19.5vw;
  }
  .productfulldiv {
    margin-top: 2vw;
    height: 26vw;
  }
}
