.cartsidebar {
  z-index: 40;
  width: 35%;
  height: 100%;
  float: right;
  text-align: left;
  display: inline-block;
  position: relative;
  background-color: #1b1b1b;
  animation: 1s slidenavcart;
  right: 0;
}
@keyframes slidenavcart {
  0% {
    right: -30vw;
  }
  100% {
    right: 0;
  }
}

.contentdivcart {
  margin-top: 0;
}
#usernamedivcart {
  width: 100%;
  height: 15%;
  top: 0;
  position: relative;
  text-align: center;
}
#usernamedivcart h1 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 250;
  font-optical-sizing: auto;
  position: relative;
  font-size: 3vh;
  display: inline-block;
  margin-top: 5%;
  margin-right: 5px;
}
#usernamedivcart svg {
  position: relative;
  display: inline-block;
  height: 4vh;
  width: 4vh;
  margin-right: 10px;
  top: -4px;
}
.shopchartline {
  position: relative;
  width: 90%;
  height: 0.12vw;
  background-color: #4c4c4c;
  margin-top: 10px;
  margin-left: 5%;
}

.navbarcontentendcartProducts {
  width: 100%;
  height: 17%;
  text-align: right;
  background-color: #282727;
  position: absolute;
  bottom: 0;
}
.buttondivs {
  width: 100%;
  position: relative;
  margin-top: 2%;
}
#ContiuneshoppingButton {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #bebebe;
  background-color: #353535;
  border-radius: 12px;
  box-shadow: #1b1b1b 2px 2px 4px;
  width: 45%;
}
#ContiuneshoppingButton:hover {
  color: #bebebe;
  background-color: #464646;
}
#CheckoutButton {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #9c9c9c;
  background-color: #1e1e1e;
  border-radius: 12px;
  box-shadow: #0e0e0e 2px 2px 4px;
  width: 45%;
  margin-left: 3%;
  margin-right: 3%;
}
.grandtotalline {
  width: 100%;
  height: 1.2px;
  margin-top: -5px;
  background-color: #4c4c4c;
}
#grandtotalplacement {
  position: absolute;
  left: 0;
}
.totaltextstyle {
  color: #ffff;
  font-family: "Jost", sans-serif;
  font-size: 1.1vw;
  font-weight: 200;
  position: relative;
  display: inline-block;
  padding: 10px;
}
.grandtotaldiv {
  position: relative;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}
.cartendbuttonstyle {
  color: #908f8f;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: "DM Sans", sans-serif;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 1vw;
  border-radius: 0.5vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.productstextdiv {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  top: -20px;
}
.productimagediv {
  width: 9vw;
  height: 9vw;
  border: 2px solid white;
  position: relative;
  display: inline-block;
  margin-left: 1.5vw;
}
.productimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productnametext {
  color: white;
  font-family: "Forum", serif;
  font-size: 1.8vw;
}
.productpricetext {
  font-family: "Gowun Dodum", sans-serif;
  color: rgb(178, 178, 178);
  font-size: 1vw;
  margin-bottom: 1vw;
}
.quantitydiv {
  background-color: #2b2b2b;
  padding: 2px;
  width: 4.5vw;
  border-radius: 10px;
  text-align: center;
}
.quantitydiv h1 {
  position: relative;
  font-family: "Donegal One", serif;
  padding: 2px;
  font-size: 1.1vw;
  display: inline-block;
  color: white;
}
.closingicondiv {
  position: relative;
  display: inline-block;
  width: 20%;
  height: 50%;
  text-align: center;
  float: right;
  top: 2vw;
}

.productfulldiv {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 1vw;
  display: block;
}
#minusquantity {
  position: relative;
  display: inline-block;
  color: white;
  margin-right: 10px;
  font-size: 1.1vw;
}
#addquantity {
  position: relative;
  display: inline-block;
  color: white;
  margin-left: 10px;
  font-size: 1.1vw;
}
#shopingcartproductlocation {
  position: relative;
  overflow: auto;
  height: 75%;
}
@media only screen and (max-width: 1400px) {
  .cartsidebar {
    width: 38%;
    animation: 1s slidenavcart;
  }
  .productimagediv {
    width: 11vw;
    height: 11vw;
  }
  .productnametext {
    font-size: 2.2vw;
  }
  .productpricetext {
    font-size: 1.2vw;
  }
  .quantitydiv {
    padding: 3px;
    width: 5vw;
  }
  .quantitydiv h1 {
    position: relative;
    font-family: "Donegal One", serif;
    padding: 2px;
    display: inline-block;
    color: white;
    font-size: 1.4vw;
  }
  #minusquantity {
    font-size: 1.4vw;
  }
  #addquantity {
    font-size: 1.4vw;
  }
  #shopingcartproductlocation {
    position: relative;
    overflow: auto;
    height: 80%;
  }
  .navbarcontentendcartProducts {
    height: 10vw;
  }
}
@media only screen and (max-width: 1200px) and (max-height: 800px) {
  .cartsidebar {
    width: 35%;
    animation: 1s slidenavcart;
  }

  .navbarcontentendcartProducts {
    height: 12vw;
  }
  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 1.2vw;
  }

  .productstextdiv {
    width: 40%;
    top: -12%;
  }

  .productnametext {
    font-size: 2vw;
  }
  .productpricetext {
    font-size: 1.2vw;
  }
  .quantitydiv {
    margin-top: 3px;
    width: 6.5vw;
  }
  .quantitydiv h1 {
    font-size: 1.2vw;
  }
  #ContiuneshoppingButton {
    font-size: 1.4vw;
    width: 15vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 15vw;
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 1000px) {
  .cartsidebar {
    width: 45%;
    animation: 1s slidenavcart;
  }
  #minusquantity {
    font-size: 1.6vw;
  }
  #addquantity {
    font-size: 1.6vw;
  }
  .quantitydiv {
    padding: 1.5px;

    margin-top: 3px;
    width: 8vw !important;
  }

  .productstextdiv {
    width: 40%;
    top: -3vw;
  }
  .totaltextstyle {
    font-size: 1.5vw;
  }
  .productimagediv {
    width: 13vw;
    height: 13vw;
  }
  .quantitydiv h1 {
    position: relative;
    font-family: "Donegal One", serif;
    padding: 2px;
    display: inline-block;
    color: white;
    font-size: 1.5vw;
  }
}
@media only screen and (max-width: 900px) {
  .cartsidebar {
    width: 55%;
    animation: 1s slidenavcart;
  }

  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 1.6vw;
  }
  .navbarcontentendcartProducts {
    height: 15vw;
  }
  .productimagediv {
    width: 15vw;
    height: 15vw;
  }
  .productstextdiv {
    width: 40%;
    top: -3vw;
  }
  .totaltextstyle {
    font-size: 2vw;
  }
  .productnametext {
    font-size: 2.5vw;
  }
  .productpricetext {
    font-size: 1.5vw;
  }
  .quantitydiv {
    padding: 1.5px;

    margin-top: 3px;
    width: 8vw;
  }
  .quantitydiv h1 {
    font-size: 1.5vw;
  }
  #ContiuneshoppingButton {
    font-size: 1.5vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    font-size: 1.5vw;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
  }
}
@media only screen and (max-width: 1350px) and (min-width: 1200) {
}
@media only screen and (max-width: 700px) {
  .cartsidebar {
    width: 65%;
    animation: 1s slidenavcart;
  }
  #shopingcartproductlocation {
    position: relative;
    overflow: auto;
    height: 74%;
  }
  .navbarcontentendcartProducts {
    height: 20vw;
  }
  .productimagediv {
    width: 20vw;
    height: 20vw;
  }
  .productnametext {
    font-size: 3.5vw;
  }
  .productpricetext {
    font-size: 2.5vw;
  }
  .quantitydiv {
    padding: 1px;

    margin-top: 3px;
    width: 10vw !important;
  }
  .quantitydiv h1 {
    font-size: 2.5vw;
  }
  #minusquantity {
    font-size: 3vw;
  }
  #addquantity {
    font-size: 3vw;
  }
  .productstextdiv {
    width: 40%;
    top: -4vw;
  }
  .closingicondiv {
    width: 20%;
    height: 50%;
    top: 4vw;
  }
  #ContiuneshoppingButton {
    font-size: 2.2vw !important;
  }
  #CheckoutButton {
    font-size: 2.2vw !important;
  }
}
@media only screen and (max-width: 500px) {
  .cartsidebar {
    width: 75%;
    animation: 1s slidenavcart;
  }
  .productimagediv {
    width: 25vw;
    height: 25vw;
  }

  .navbarcontentendcartProducts {
    height: 28vw;
  }
  .grandtotalline {
    margin-top: -8px;
  }
  .totaltextstyle {
    margin-bottom: 5px;
    font-size: 2.6vw;
  }

  .productstextdiv {
    width: 40%;
  }

  .productnametext {
    font-size: 4.5vw;
  }
  .productpricetext {
    font-size: 2.5vw;
  }
  .quantitydiv {
    padding: 1.5px;

    margin-top: 3px;
    width: 14vw;
  }
  .quantitydiv h1 {
    font-size: 2.5vw;
  }
  #ContiuneshoppingButton {
    font-size: 2.8vw;
    width: 32vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 30vw;
    font-size: 2.8vw;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
    top: 6vw;
  }
}
@media only screen and (max-width: 400px) {
  #ContiuneshoppingButton {
    font-size: 2.7vw !important;
    width: 45%;
  }
  #CheckoutButton {
    width: 45%;
    font-size: 2.7vw !important;
  }
  .cartsidebar {
    width: 75%;
  }
  .productimagediv {
    width: 26vw;
    height: 26vw;
  }
  .productnametext {
    font-size: 5.6vw;
  }
  .navbarcontentendcartProducts {
    height: 30vw;
  }
  .productpricetext {
    font-size: 3.5vw;
  }
  .quantitydiv {
    padding: 1px;

    margin-top: 3px;
    width: 14vw !important;
  }
  .quantitydiv h1 {
    font-size: 3.5vw !important;
  }
  #minusquantity {
    font-size: 3.5vw !important;
  }
  #addquantity {
    font-size: 3vw !important;
  }

  .closingicondiv {
    width: 15% !important;
    height: 10%;
  }
}
@media only screen and (max-width: 350px) {
  .productimagediv {
    width: 25vw;
    height: 25vw;
  }
  .cartsidebar {
    width: 80%;
  }

  #ContiuneshoppingButton {
    font-size: 2.9vw;
    width: 35vw;
    padding: 15.5px;
  }
  #CheckoutButton {
    width: 35vw;
    font-size: 2.9vw;
  }

  .quantitydiv {
    margin-top: 3px;
    width: 18vw;
  }

  .navbarcontentendcartProducts {
    height: 33vw;
  }
  .closingicondiv svg {
    width: 100%;
    height: 100%;
  }
  .closingicondiv {
    width: 15%;
    height: 40%;
  }
  #minusquantity {
    height: 6vw;
  }
  #addquantity {
    height: 6vw;
  }
  .quantitydiv h1 {
    padding: 1px;
    font-size: 4vw;
  }
  .productnametext {
    font-size: 5.6vw;
  }
  .productpricetext {
    font-size: 3.5vw;
  }
  #usernamedivcart {
    width: 100%;
    height: 19.5vw;
  }
  .productfulldiv {
    margin-top: 2vw;
    height: 26vw;
  }
}
